<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Auflistung aller Tiere</mat-card-title>
  </mat-card-header>

  <mat-card-content>
<mat-list *ngFor="let animal of animals">
  <mat-list-item>
    {{animal.name}}
    ({{animal.type}})
    <button class="btn btn-primary btn-sm" (click)="handleEdit(animal)">Editieren</button>
    <button class="btn btn-danger btn-sm" (click)="handleDelete(animal)">Löschen</button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
</mat-card-content>
</mat-card>
