<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <button mat-icon-button class="menuButton" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <ul>
        <li><a mat-raised-button routerLink="">Home</a></li>
        <li><a mat-raised-button routerLink="/about">About us</a></li>
        <li><a mat-raised-button routerLink="/delivery">Delivery</a></li>
        <li><a mat-raised-button routerLink="/blog">Blog</a></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
