<mat-toolbar class="container">
  <mat-toolbar-row>
    <div class="headerBlock">
      <div class="blockQuarter">
        <mat-icon>perm_phone_msg</mat-icon>
        <div class="blockQuarterDetails">
          <h3>Call us for support</h3>
          <p>+123456789</p>
        </div>
      </div>
      <div class="blockQuarter">
        <mat-icon>directions_car</mat-icon>
        <div class="blockQuarterDetails">
          <h3>Free Shipping</h3>
          <p>Order above 50 €</p>
        </div>
      </div>
      <div class="blockQuarter">
        <mat-icon>perm_phone_msg</mat-icon>
        <div class="blockQuarterDetails">
          <h3>Call us for support</h3>
          <p>+123456789</p>
        </div>
      </div>
      <div class="blockQuarter">
        <mat-icon>directions_car</mat-icon>
        <div class="blockQuarterDetails">
          <h3>Free Shipping</h3>
          <p>Order above 50 €</p>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
