.contentSidenav {
  height: 95vh;
}

mat-sidenav {
  width: 200px;
  height: 520px;
  background-color: #4682B4;
  color: yellow;
  text-align: center;
  padding: 14px;
}

mat-sidenav a {
  color: yellow;
  text-align:left;
}
