<div>
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field>
          <input matInput type="text" placeholder="Email" formControlName="email">
          <mat-icon>message</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Passwort" formControlName="password">
          <mat-icon>lock</mat-icon>
        </mat-form-field>
        <div class="checkContainer">
          <mat-checkbox matInput>
            Eingeloggt bleiben
          </mat-checkbox>
          <a routerLink="#">Passwort vergessen</a>
        </div>
        <button (click)="login()" mat-raised-button color="primary" class="login-button">Login</button>
        <button mat-raised-button class="login-button" routerLink="/register">Registrieren</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
